{% extends 'catalog/base.html' %}

{% block content %}

<div class="container">
    <div class="row text-center">
        <div class="col-3">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Курс 1: Для новичков. Студент-Гурман.</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">1000 руб.</h1>
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <li>- Бюджетные продукты</li>
                        <li>- Понятно даже новичку</li>
                        <li>- Личный разбор ошибок от шефа</li>
                    </ul>
                    <button type="button" class="btn btn-lg btn-block btn-outline-primary">Купить</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}